body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
}

header {
    text-align: center;
    background-color: #004080;
    padding: 20px;
    color: #fff;
}

main {
    padding: 20px;
}
main h3{
      color:red;
      text-align:center;
} 

.checkout-details {
    max-width: 800px;
    margin: auto;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
}

h2 {
    text-align: center;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: #444;
    padding: 10px;
    border-radius: 5px;
}

.cart-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
}

.item-details p {
    margin: 0;
}

.payment-methods {
    text-align: center;
    margin: 20px 0;
}

.payment-methods img {
    width: 100px;
    margin: 0 10px;
    cursor: pointer;
}

.payment-form {
    display: none;
    margin-top: 20px;
}

.payment-form form {
    display: flex;
    flex-direction: column;
}

.payment-form label {
    margin: 10px 0 5px;
}

.payment-form input {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #004080;
    color: #fff;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0059b3;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

footer p, footer a {
    color: #fff;
    margin: 5px 0;
}

footer .social-links a, footer .footer-links a {
    margin: 0 10px;
}

